html {
    height: 100%;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #2e2d71;
    /* background: url('https://lh3.googleusercontent.com/proxy/Dg313xmXjMyShSQGMN4a0jKB7WLJcYSu-GgTskr4rHnh0j6owl4XPEz9OccfIpT-hK3LW3ypqgQZIeHb4iMpaJyAaAUXH0uzxRlpNCHaJRHbLv59cBJN9tsMUkD24rCaepk7oaoPmUVJ30DfXEkU1DNV'); */
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    margin: auto;
}

body {
    padding-top: 20px;
    /* margin: 50;
    padding: 50; */
    background: linear-gradient(to bottom right, rgb(50, 107, 230), white);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Merriweather', serif;
    margin-top: 5%;
}

.elephant {
    display: flex;
    justify-content: end;
    /* position: absolute;
    left: 20px;
    top: 150px; */
    width: 20%;
    height: 35%;
    margin-right: 30px;
}
.donkey {
    margin-left: 50px;
    /* position: absolute;
    right: 50px;
    top: 150px; */
    width: 20%;
    height: 35%;
    /* margin-right: 50px; */
}

/* LOGIN CSS BELOW */
.login-button {
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 5px;
    border: solid rgb(50, 107, 230)2px;
    background-color: white;
    color: rgb(50, 107, 230);
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 25px;
    display:inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
}
.login-button:hover {
    background: rgb(50, 107, 230);
    color: white;
    border: solid white 2px;
    border-radius: 5px;
    text-decoration: none; 
    }
/* LogIn Container */
.login-outer-container {
   margin-top: 20px; 
   margin: 50px;
}

.form-label {
    display: flex;
    justify-content: center;
    border: 3px solid rgb(50, 107, 230);
    border-radius: 5px;
    /* box-shadow: 5px 10px #888888; */
    margin: auto;
    padding: 15px;
}

/* HOME PAGE CSS BELOW */
.reps-container {
    padding-top: 20px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.update {
    border: 3px solid rgb(50, 107, 230);
    border-radius: 5px;
}
.senatorButton {
    margin-left: 5%;
    background-image: url("./images/american-flag.png");
    /* min-width: 500px; */
    width: 800px;
    height: 200px;
    border-radius: 5px;
    margin: 15px;
}

.senatorButtonInner{
    background-color: rgba(255, 255, 255, 0.741);
    /* height: 200px; */
    width: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
    font-size: 14px;
}

.info{
    margin:20px
}

.seeAll {
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: solid rgb(50, 107, 230)2px;
    background-color: white;
    color: rgb(50, 107, 230);
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 40px;
    display:inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
}
.seeAll:hover {
    background: white;
    color: rgb(50, 107, 230);
    border: solid rgb(50, 107, 230) 2px;
    border-radius: 5px;
    text-decoration: none; 
    }

/* BILLS CSS BELOW */

.billPosition{
   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:20px;
    align-content: center;
}

.bigBill {
    display: flex;
    justify-content: center;
}


.billFirstSection {
    background-image: url('./images/paper.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    /* height: auto; */
}

.point , .indBillInfo, .total{
    margin-top: 5px;
    margin-left: 20px;
    /* color: rgb(224, 224, 224); */
    color: black;
}


.mainIndividual {
    width: 100%;
}

.total {
    margin-top: 10px;
    /* color: rgb(142, 177, 255); */
}

.totalVotes{
    margin-left: 100px;
    /* color: rgb(142, 177, 255); */
}

.update {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.update-button {
    margin: auto;
}

.allMembers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.allRep {
    width: 300px;
    margin: 20px 0;
}

.allOuter {
    margin-left: 5%;
    background-image: url("./images/american-flag.png");
    /* min-width: 500px; */
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 15px;
}

.allInner {
    background-color: rgba(255, 255, 255, 0.741);
    /* height: 200px; */
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
    font-size: 14px;
}

.seeAll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 30px;
    background: rgb(57, 57, 253);
    color: white;
}